form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 20px;
  color: white;
  border: 10 solid #fff;
}

form h2 {
  margin-bottom: 10px;
  color: var(--red);
  text-transform: uppercase;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
}

form div label {
  flex: 1;
  text-transform: uppercase;
}

form div input {
  flex: 2;
  padding: 5px 10px;
  margin: 10px 0;
}

input[type="submit"] {
  appearance: button;
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: var(--red);
  cursor: pointer;
  font-size: 110%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

input[type="submit"] {
  cursor: default;
}

input[type="submit"] {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
