 nav ul {
     justify-content: space-between !important;
     padding: 1rem 0.5rem;
     font-size: 1rem;
     background: white;
     position: fixed;
     width: 100%;
     margin-top: 1rem;
 }


 nav ul .branding img {
     height: 1rem;
     border-radius: 50%;
     margin: 0 2.5rem;
     transform: scale(5);
     border: 1px solid white;
     cursor: pointer;
 }


 nav ul .nav-links {
     list-style-type: none;
     text-transform: uppercase;
 }

 .nav-links li {
     margin: 0 1rem;
     cursor: pointer;
 }