.status-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(4, 21, 98, 1);
  background-image: url("../../assets/homeBg.svg");
  flex-direction: column;
}

.status-container .row {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.progress-bar {
  width: 80%;
  height: 10px;
  background-color: white;
  margin-left: 20%;
}
